asgiref==3.3.4
astroid==2.5.6
blinker==1.4
bson==0.5.10
click==7.1.2
Django==3.2.3
dnspython==2.1.0
Flask==1.1.2
Flask-Ext==0.1
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-pymysql==0.2.3
greenlet==1.0.0
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.8.2
pymongo==3.11.3
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
SQLAlchemy==1.4.12
sqlparse==0.4.1
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
