{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="my-grid d-flex flex-row">
        <p class="my-grid-item m-auto">
            Item
        </p>
        <p class="my-grid-item m-auto">
            Item
        </p>
        <div>
     <img src="{% static 'django_community_site/default_image.png' %}" alt="">
</div>
        <p class="my-grid-item m-auto">
            Item
        </p>
        <p class="my-grid-item m-auto">
            Item
        </p>
        <p class="my-grid-item m-auto">
            Item
        </p>
    </div>

    <div class="my-grid d-flex flex-column mt-4">
        
    </div>
</div>
{% endblock content %}